# ─── Frontend (Vite) ───────────────────────
VITE_MAPBOX_TOKEN=tu_token_mapbox

# ─── Backend (Express) ─────────────────────
DATABASE_URL=postgresql://user:pass@host:5432/db
JWT_SECRET=tu_secret_jwt
PORT=3001

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
