section {
  padding: 0 8%;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 10px black;
}

.hero-text {
  margin-left: 100px;
}

.hero-text h5,
.hero-text h1 {
  font-family: "Cinzel", serif;
}

.hero-text h5 {
  font-size: 20px;
  margin-bottom: 25px;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1;
  margin: 0 0 30px;
}

.hero-text p {
  font-size: 90%;
  margin-bottom: 40px;
  line-height: 1.9;
}

.hero-text p,
.hero-text a {
  font-family: "Cinzel", serif;
}

.hero-text .discover-link {
  display: inline-block;
  background-color: #7c5f36;
  border: 1px solid transparent;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.hero-text a:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.icons {
  position: absolute;
  top: 50vh;
  padding: 0 3%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 26px 0px;
  font-size: 24px;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #7c5f36;
  transform: translateY(-5px);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  left: 50%;
}

.scroll-down i {
  display: block;
  font-size: 50px;
  transition: all 0.5s ease;
}

.scroll-down i:hover {
  transform: translateY(20px);
}

/* RESPONSIVE  */
@media (max-width: 992px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }

  .hero-text {
    padding-top: 0;
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-text {
    text-align: center;
    padding-top: 100px;
    margin-left: 0;
  }
}
