.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  color: black;
}

.filters {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 10;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.filters button {
  border: none;
  background: #3f2b0e9d;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Cinzel", serif;
}
